{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current",
          "chrome": "78"
        },
        "useBuiltIns": "usage",
        "corejs": "3.3.6"
      }
    ]
  ]
}